html {
    height:100%;
}

body {
    background-color: #eeebeb;
}

/*body {*/
    /*min-height: 100% !important;*/
    /*height: 100%;*/
/*}*/

.navlink {
    margin-right: 30px;
}


.mainphotocontainer {
    width: 100%;
    height: 380px;
    /*margin-top: -20px;*/
    /*padding-right: 5%;*/
    /*padding-left: 5%;*/
}

.mainphoto {
    background-image: url("/static/login/assets/img/backgrounds/2.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: inherit;
    width: 100%;
    position: relative;
}

.mainsearch {
    color: white;
    width: 100%;
    height: 100px;
    position: absolute;
    top:35%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;

}

.search-text {
    position: relative;
    left: 40%;
    float: left;
}

.search-form {
    position: relative;
    float: left;
    display: inline;
}

.thumbnail .cathegory-img {
    height: 200px;
    width: 100%;
    max-width: 400px;
    display: block;
}

.panel-default{

}

.navbar{
    border-color: transparent;
    /*background-color: rgba(50, 102, 156, 0.81);*/
    background-color: #122b40;
    margin: 0;
    padding: 0;
}

.navbar a{
    color: #f8f8f8;
}

.jumbotron {
    background-color: rgba(50, 102, 156, 0.81);
    color: #f8f8f8;
}

.jumbotron .btn{
    background-color: #6da87d;
}

/* na strone glowna */
.projectContainer {
	height: 20%;
	max-height: 250px;
	width:100%;
}

.project {
    position: relative;
	height: 150px;
	max-width: 550px;
	min-width: 320px;
    margin-bottom: 10px;
}

.projectPhoto {
	float:left;
	position:relative;
	background: #3D5AFE;
	height: 100%;
	width: 30%;
}

.projectPhoto img {
    width: 100%;
    height: 100%;
}

.projectInfo {
	background:#E1F5FE;
	float:left;
	width:70%;
	height:100%;
	overflow: hidden;
}

.projectTitle {
    display: inline-block;
    background: #90CAF9;
    width: 100%;
    height: 22%;
}

.projectShortDesc {
	width:100%;
	position: relative;
}

.descTitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    height: auto;
    position: relative;
    top: 25%;
    padding-left: 12px;
}

.descShortText {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
    position: relative;
	overflow: hidden;
	margin: 6px;
	margin-left: 12px;
}

.projectCathegory {
    /*float: right;*/
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.project-add-form {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid;
    border-color: #CACACA;
    border-radius: 5px;
}

.select-cathegory {
    padding: 6px;
    display: block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-color: rgba(0, 0, 0, 0.33);
}

textarea {
    resize: vertical;
}

.input-separated {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-add-component {
    position: relative;
    float: right;
    margin-bottom: 6px;
}