{% extends 'projekty/main.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block precontainer %}
    <div class="mainphotocontainer" xmlns="http://www.w3.org/1999/html">
        <div class="mainphoto">
            <div class="mainsearch">
                <div class="search-text">
                    Szukaj
                </div>
                <div class="search-form">
                    <form action="">
                        <input type="text" id="txtSearch">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="container">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 id="kategorie">Kategorie</h2>
                    <br>
                    {% if cathegories %}
                        {% for cat in cathegories %}
                            <a href="{% url 'cathegories' cat.id %}">
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img src="{{ cat.photo_url }}" class="cathegory-img">
                                        <div class="caption">
                                            <h3>{{ cat.text }}</h3>
                                            <p>{{ cat.short_desc }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info panel-latest-projects">
                <div class="panel-heading">Ostatnio dodane</div>

                <div class="panel-body">
                    {% if latest_projects_list %}
                        {% for project in latest_projects_list %}
                            <a href="{% url 'showproject' project.id %}">
                                <div class="projectContainer">
                                    <div class="project">
                                        <div class="projectPhoto">
                                            {% if project.thumbnail_url %}
                                                <img src="{{ project.thumbnail_url }}"/>
                                            {% else %}
                                                <img src="{% static 'login/assets/img/backgrounds/no_image.png' %}"/>
                                            {% endif %}

                                        </div>
                                        <div class="projectInfo">
                                            <div class="projectTitle">
                                                <div class="descTitle">
                                                    {{ project.title }}
                                                </div>
                                            </div>
                                            <div class="projectShortDesc">
                                                <div class="descShortText">
                                                    {{ project.short_description }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="projectCathegory">
                                            {{ project.cathegory }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Najpopularniejsze projekty</div>

                <div class="panel-body">
                </div>
            </div>
        </div>

    </div>
{% endblock %}