{% extends 'projekty/main.html' %}
{% load staticfiles %}

{% block title %}
    {% if project_title %}
        {{ project_title }}
    {% endif %}
{% endblock %}

{% block container %}

    <div class="container">
        <h2>
            {% if project_title %}
                {{ project_title }}
            {% endif %}
        </h2>
        <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            Tagi:
            {% if tags %}
                <span class="tags">
                    {% for tag in tags %}
                        {{ tag.text }}
                    {% endfor %}
                </span>
            {% endif %}
        </p>
        <p>
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Autor: {{ user.username }}
        </p>
        <div class="col-md-8 panel-bordered project-preview">

            <h4><strong>{{ project_short_desc }}</strong></h4>

            <div class="project-text">
                {% if project_text %}
                    {% autoescape off %}
                        {{ project_text|linebreaks }}
                    {% endautoescape %}
                {% endif %}
            </div>

        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Elementy użyte w projekcie</div>

                <div class="panel-body used-parts">
                    {% if components %}
                        {% for component in components %}
                            <div class="part">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>    {{ component.description }} - <b>&times;{{ component.quantity }}</b>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
