{% extends 'projekty/main.html' %}
{% load staticfiles %}

{% block title %}
    {% if project_title %}
        {{ project_title }}
    {% endif %}
{% endblock %}

{% block container %}

    <div class="container">
        <h2>
            {% if project_title %}
                {{ project_title }}
            {% endif %}
        </h2>
        <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            Tagi:
            {% if tags %}
                <span class="tags">
                    {% for tag in tags %}
                        {{ tag.text }}
                    {% endfor %}
                </span>
            {% endif %}
        </p>
        <p>
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Autor: {{ project_author.username }}
        </p>
        <div class="col-md-8 panel-bordered project-preview">

            <h4><strong>{{ project_short_desc }}</strong></h4>

            <div class="project-text">
                {% if project_text %}
                    {% autoescape off %}
                        {{ project_text|linebreaks }}
                    {% endautoescape %}
                {% endif %}
            </div>

        </div>

        <div class="col-md-4 panel-bordered project-preview">
            <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Elementy użyte w projekcie</div>

                <div class="panel-body used-parts">
                    {% if components %}
                        {% for component in components %}
                            <div class="part">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>    {{ component.description }} - <b>&times;{{ component.quantity }}</b>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    <div class="col-md-4 panel-bordered project-preview comment-section">
        <div class="panel panel-info">
                <div class="panel-heading">Komentarze</div>

                <div class="form">
                    {% csrf_token %}
                    <div class="form-group add-comment">
                        <label class="addcomment-label" for="add-comment-text">Dodaj komentarz</label>
                        <textarea class="addcomment-textarea" type="text" maxlength="250" rows="4" id="add-comment-text" name="add-comment-text" required></textarea>
                        <button id="btnAddComment" class="btn btn-add-comment">Dodaj</button>
                    </div>
                </div>
            <div id="comment-container">
            </div>
        </div>
    </div>

    </div>

{% endblock %}

{% block own_js %}
        <script>
            var proj_id = {{ project_id }};
            var commurl = "{% url 'getcomments' %}";
            var post_comm_url = "{% url 'postcomment' %}";
        </script>
        <script src="{% static 'login/assets/js/comments.js' %}"></script>
{% endblock %}